@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}
html{
	scroll-behavior: smooth;
}
body{
  	animation: changeBackgroundColor 4s infinite;
  	background: #085a78;
	background-image:  linear-gradient(80deg, #1898bf 12%, transparent 18.5%, transparent 87%, #1898bf 87.5%, #1898bf), linear-gradient(150deg, #1898bf 12%, transparent 12.5%, transparent 87%, #1898bf 87.5%, #1898bf), linear-gradient(30deg, #1898bf 12%, transparent 12.5%, transparent 87%, #1898bf 87.5%, #1898bf), linear-gradient(150deg, #1898bf 12%, transparent 12.5%, transparent 87%, #1898bf 87.5%, #1898bf), linear-gradient(60deg, #1898bf77 25%, transparent 25.5%, transparent 75%, #1898bf77 75%, #1898bf77), linear-gradient(60deg, #1898bf77 25%, transparent 25.5%, transparent 75%, #1898bf77 75%, #1898bf77);
	background-size: 20px 35px;
	background-position: 0 0, 0 0, 10px 18px, 10px 18px, 0 0, 10px 18px;
  }
@keyframes changeBackgroundColor {
  	0% {
    background-color: #02ced9;
		}
  	100% {
    background-color: #085a78;
		}
  	20% {
    background-color: #02ced9;
		}
}

.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
		/*  inicio  */
.navbar{
    position: fixed;
    width: 100%;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    z-index: 999;
    transition: all 0.3s ease;

}
.navbar.sticky
{
	 padding: 15px 0;

}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
    }
.navbar .logo a{
    color: #0B2FC3; /*Port*/
    letter-spacing: 8px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    transition: all.0.3s.ease;
    font-size: 50px;
    font-weight: 620;
    animation-timing-function: linear;
 	position: relative;
  	animation: mymove 5s infinite;
  	animation-iteration-count: infinite;
  	animation-direction: alternate;
 }
 	@keyframes mymove {
  from {left: -50px;}
  to {left: 250px;}
}
.navbar .logo a span{
    color: blueviolet; /*Folio*/
    letter-spacing: 8px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}


.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    color: purple; /*rotbar*/
    font-size: 25px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    color: blueviolet;
}

.home{
    display: flex;
	background-image: url('Imagem/LuaBaixa.png');
	background-size: 100%;
	background-repeat: no-repeat;
	/*border-width: thin;
	border-style: solid;
	border-color: #CCC; BORDAS*/
    height: 130vh;
    color: whitesmoke; /*nome*/
    min-height: 500px;
    font-family: 'Ubuntu', sans-serif;
    text-align: left;
}
.home .max-width{
    margin: auto 0 auto 40px;
    width: "100" height="100"
}
.home .home-content .text-1{
    color: mediumpurple; 
    font-size: 30px;
}
.home .home-content .text-1 span-1{
	color: white; /* meu nome é */
	-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
    
}
.home .home-content .text-2{ /*nome*/
	color: white;
    font-size: 64px;
    font-family: 35;
    font-weight: 800;
    margin-left: 10px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000;
}
.home .home-content .text-3{
    font-size: 25px;
    margin: 5px 0;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
}
.home .home-content .text-3 span{
    color: mediumpurple; /*Titulo artista*/
    font-weight: 800;
}
.home .home-content a{
	display: inline-block;
	background: dark;
	color: white; /*cor do cont*/
	font-size: 20px;
	padding: 10px 14px;
	margin-top: 10px;
	border-radius: 6px;
	border: 2px solid white; /*borda em volta do cont*/
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
}
.home .home-content a:hover{
    color: purple;
    background: black;
}
/*--Menu-Mobileeeeee--*/
.menu-btn{
	color: white; /*3 traços*/
	font-size: 25px; 
	cursor: pointer;
	display: none;
}
.scroll-up-btn{
	position: fixed;
	width: 55px;
	height: 45px;
	right: 30px;
	bottom: 30px;
	text-align: center;
	line-height: 45px;
	color: #CCC;
	background: transparent;
	border-radius: 6px;
	font-size: 10px
	z-index: 9999;
	cursor: pointer;
	opacity: 0;
	pointer-events: none;
	transition: all 0.3s ease;
}
.scroll-up-btn ion-icon{
	font-size: 50px;
	color: ;
	animation: bg 4s infinite;
}
	@keyframes bg {
	50% {
		color: #0069D9;
	}
	50% {
		color: purple;
	}

	
}
.scroll-up-btn.show{
	opacity: 1;
	pointer-events: auto;
	bottom: 30px;
}
/*--tudo cod sim--*/
section{
	padding: 100px 0;
}
section .title{
	font-family: 'Ubuntu', sans-serif;
	text-align: center;
	font-size: 40px;
	font-weight: 500px;
	margin-bottom: 60px;
	padding-bottom: 20px;
	position: relative;
}
section .title::before{
	content: "";
	color: black;
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 80%;
	height: 3px;
	background: #CCC;
	transform: translateX(-50%);

}
section .title::after{
	position: absolute;
	bottom: -10px;
	left: 50%;
	font-size: 20px;
	background: black; /* fundo la */
	color: white;
	padding: spx;
	transform: translateX(-50%);

}
.about .about-content, .skills{
	font-family: 'Roboto', sans-serif;
}
.about .about-content
.services .serv-content,
.skills .skills-content{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

/*--sessao-sobre--*/

.about, .services{
	font-family: 'Roboto', sans-serif;
}
.about .about-content,
.services .serv-content{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;	

}
.about .title::after{
	content: Quem sou eu;
}
.about .about-content .left{
	width: -45%;
}
.about .about-content .right{
	width: 55%;
}
.about .about-content .right .text{
	font-size: 25px;
	font-weight: 500;
	margin-bottom: 10px;
}
.about .about-content .right .text span{
	color: darkblue;
}
.about .about-content .right p{
	text-align: justify;
}
.about .about-content .right a{
	display: inline-block; /*bo cv mouse*/
	background: black;
	color: white;
	font-size: 20px;
	padding: 10px 30px;
	border border-radius: 6px;
	border: 2px solid black;
	transition: all 0.3s ease;
}
.about .about-content .right a:hover{ 
	color: black; 
	background: none; /*botao do cv cor pas mouse*/
}
.about .about-content .left img{ /*imagem perfil*/
	width: 400px;
	height: 400px;
	object-fit: cover;
	border-radius: 6px;
 	border-top-width: none;
 	border-bottom-width: 9px;
 	border-bottom-style: double;
 	border-bottom-color: black;
 	border-width: 6px;
 	border-style: double;
 	border-color: rgba(right, yellow 10%, blue 0%)
}
/*--sessao conhecimento--*/


.services{

	background: #141639; /*fundo la*/
	/*background-color: rgba(105,0,0,0.5);*/
	color: white;
	border-width: medium;
  	border-style: dashed;
  	border-color: #CCC;

}
services .title::before{
	background: blueviolet;
}
.services .title::after{
	background: #141639;
	content: "";
}
.services .serv-content .card{
	width: calc(33% - 20px);
	background: #141639; /*fundo dos quadrados sem o mouse*/
	text-align: center;
	border-radius: 6px;
	padding: 20px 25px;
	cursor: pointer;
	transition: all 0,3s ease;
}
.services .serv-content .card:hover{
	color: #fff; /*fund da letra dps d mouse*/
	background: #222578;
	
	/*background-size: cover;*/
} 
.services .serv-content .card .box{
	transition: all 0.8s ease;
}
.services .serv-content .card:hover .box{
	transform: scale(1.10); /*escala do bagulho la em baixo*/
}
.services .serv-content .card ion-icon{
	font-size: 50px;
	color: purple;
}
.services .serv-content .card:hover ion-icon{
	color: white; /*cor do icone*/
}
.services .serv-content .card text{
	font-size: 25px;
	font-weight: 500;
	margin: 10px 0 7px 0;
}
/*imagns*/

.grid{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 20px;
	margin: 0 auto;
	max-width: 800px;
	padding: 10px;

}
.grid-item:nth-child(1){
	grid-row: 1 / 3;
}
.grid-item{
	display: grid;
}
.grid-item img{
	grid-column: 1;
	grid-row: 1/3;
	align-self: end;
}
.grid-item p{
	background: rgba(0, 0, 0, 0.4);
	padding: 10px;
	color: white;
	grid-column: 1;
	grid-row: 2;
	align-self: end;
} 




/*--sessao especialidades--*/

.skills .title::after{
	content: "";
	color: blueviolet;
	background: white;

}
.skills .skills-content .column{
	width: calc(50% - 30px);
}
.skills .skills-content .left .text{
	font-size: 25px;
	font font-weight: 500;
	margin-bottom: 10px;
}
/*lore*/
.skills .skills-content .left p{
	text-align: justify;

}
/*botao mais info*/ 
.skills .skills-content .left a{
	display: inline-block; 
	background: blue;
	color: white;
	font-size: 15px;
	padding: 8px 16px;
	border border-radius: 6px;
	border: 3px solid black;
	transition: all 0.3s ease;

}
.skills .skills-content .left a:hover{  
	color: black;
	background: none;

}
/*distancia*/
.skills .skills-content .right .bars{
	margin-bottom: 10px;
}
.skills .skills-content .right .info{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.skills .skills-content .right span{
	font-weight: 500;
	font-size: 15px;
}
.skills .skills-content .right .line{
	width: 100%;
	height: 5px;
	background: whitesmoke; /*fundinho do grafico*/ 
	position: relative;
}
.skills .skills-content .right .line::before{
	content: "";
	position: absolute;
	width: 80%;
	height: 100%;
	top: 0;
	left: 0;
	background: blueviolet;
}
.skills .skills-content .right .Photoshop::before{
	width: 80%;
}
.skills .skills-content .right .Ilustrator::before{
	width: 50%;
}
.skills .skills-content .right .CSS::before{
	width: 40%;
}

.sitefora
	div{
    position: relative;
    width: 604px;
    height: 500px;
}
	iframe{
    position: absolute;            
    top: -95px;
    left: -25px;
    width: 1024px;
    height: 768px;
}

	

/*--Responsivo--*/
@media (max-width: 1300px){
	.navbar .max-width{
		margin-left: 0;
	}
}
@media (max-width: 1104px){
	.about .about-content .left img{
		width: 350px;
		height: 350px;
	}
}
@media (max-width: 940px){
	.max-width{
		padding: 0 50px;
		}
}		
@media (max-width: 940px){
	.max-width{
		max-width: 800px;
		padding: 0 50px;
	}
	.menu-btn{
		display: flex;
		z-index: 999;
	}
	.navbar .menu{
		position: fixed;
		width: 100%;
		height: 100vh;
		left: 100%;
		top: 0;
		background: midnightblue; /*roba menu fundo*/
		padding-top: 80px;
		text-align: center;
		transition: all 0.3s ease;
	}
	.navbar .menu.active{
		left: 0;
	}
	.navbar .menu li{
		display: block;
	}
	.navbar .menu li a{
		display: inline-block;
		margin: 20px 0;
		font-size: 25px;
	}
	.home .home-content .text-2{
		font-size: 70px;
	}
	.home .home-content .text-3{
		font-size: 35px;
	}
	.home .home-content a{
		font-size: 23px;
		padding: 10px 30px;
	}
	.about .about-content .column{
		width: 50%;
	}
	.about .about-content .left{
		display: flex;
		justify-content: center;
		margin: 0 auto 60px;
	}
	.about .about-content .right{
		flex: 100%;
	}
	.services .serv-content .card{
		width: calc(50% - 10px);
		margin-bottom: 20px;
	}
	.skills .skills-content .column{
		width: 100%;
		margin-bottom: 35px; /*mais info*/

	}
}
@media (max-width: 690px){
	.home .home-content .text-2{
		font-size: 60px;
	}
	.home .home-content .text-3{
		font-size: 32px;
	}
	.home .home-content a{
		font-size: 20px;
	}
	.services .serv-content .card{
		width: 100%;
	}
}
@media (max-width: 500px){
	.home .home-content .text-2{
		font-size: 50px;
	}
	.home .home-content .text-3{
		font-size: 32px;
	}
}

             /*imagem fundo*/
img {
	max-width: 100%;
	display: block;
}